
.app {
  display: block;
  text-align: center;
  padding: 20px 30px;
  margin: 0 auto;
  background-color: #F6F4EC;
  height: 100vh;
}

header{
  font-size: 35px;
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 35px;
  margin: 0 auto;
  text-transform: uppercase;
  color: #B3604F;
  max-width: 300px;
  display: block;
}

main {
  margin: 30px 0;
  padding: 20px 8px;
  font-size: 18px;
  color:#B3604F;
  display: block;
  background-color: #F2D3B9;
  border-radius: 6px;
  
  
}

footer{
  margin-top: 100px;
  color: #D4A197;
  border-radius: 6px;
}

footer a{
text-decoration: none;
color:#D4A197;
}

footer a:hover{
  text-decoration: underline;
  color:#B3604F;
  }

.book-icon{
  font-weight: lighter;
}