
.app {
  display: block;
  text-align: center;
  padding: 20px 30px;
  margin: 0 auto;
  background-color: #F6F4EC;
  max-width: 750px;
  max-height: 100%;
}

header{
  font-size: 35px;
  padding: 20px;
  background-color:#B3604F;
  border-radius: 6px;
  line-height: 35px;
  inline-size: 50%;
  margin: 0 auto;
  text-transform: uppercase;
  color: #F6F4EC;


}

main {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 30px;
  font-size: 18px;
  color: #E6AD90;
  font-weight: bold;
  background-color: #F2D3B9;
  border-radius: 100px;
  
}

footer{
  margin-top: 100px;
  color: #D4A197;
  border-radius: 6px;
}

footer a{
text-decoration: none;
color:#D4A197;
}

footer a:hover{
  text-decoration: underline;
  color:#B3604F;
  }

