.search{
 text-align: center;
 background: #A9AE8C;
 border-radius: 6px;;
 
}

.search-form {
    text-align: center;
    margin: 10px 30px;
    border-radius: 5px;
    border: none;
    border-width: .5px;
    background-color: #F6F4EC;
    color:#B3604F;
    padding: 30px;
}

input.search-form::placeholder{
    color:#B3604F;
}

.search-container{
    margin: 0px 30px;
    padding: 10px 30px;
    
}
