.search{
 text-align: center;
 background: #A9AE8C;
 border-radius: 6px;
 padding-bottom: 80px;
 
}

.search-form {
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    border: none;
    border-width: .5px;
    background-color: #F6F4EC;
    color:#B3604F;
    padding: 10px 0;
    margin: 0 auto;
    margin-top: 30px;
    
 
}


[type=search] ::-ms-clear{
    color:#B3604F;
}

input:focus{
    outline: none;
}

input.input::placeholder{
    color:#B3604F;
    
}

.search-container{
    margin: 0px 30px;
    padding: 10px 30px;

    
}

.input{
    border: none;
    background-color: #F6F4EC;
    color:#B3604F;
    text-align: left;
    padding-left: 15px;

}



#search-button{
    color:#B3604F;
    
}

#search-button:focus {
    box-shadow: none;
  }