.phonetic {
    display: inline-flex;
}
.phonetic-text {
    font-size: 20px;
    color: #B3604F;
    margin-left: 40px;
   
}


.phonetic-audio a {
   color:#E6AD90;
   text-decoration: none;
   margin-right: 0;
   padding-right: 0;
   display: inline-flex;
   font-size: 25px;

   
}

.phonetic-audio a:hover {
    color:#B3604F;
    
 }